# RewriteEngine On
# RewriteCond %{HTTPS} !=on
# RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteEngine On
RewriteBase /
RewriteRule ^index\.html$ index.php?page=/
RewriteRule ^([a-zA-Z0-9-]*\.html)$ index.php?page=$1 [L,QSA]